{% extends "admin/change_form.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="/admin/">Home</a> &rsaquo;
     <a href="/admin/dali">Dali</a> &rsaquo; 
     <a href="/admin/dali/picture/">Pictures</a> &rsaquo;
     Add Multiple Pictures
</div>
{% endblock %}

{% block content %}
<div id="content-main">

  <form enctype="multipart/form-data" action="{% url add_pictures_from_zip %}" method="post" id="picture_form">
    <div>
      <fieldset class="module aligned">
        {{ form.errors }}
        <div class="form-row"> {{ form.gallery.label_tag }}{{ form.gallery}} </div>
        <div class="form-row"> {{ form.zip_file.label_tag }}{{ form.zip_file }} </div>
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="Save" class="default" name="_save"/>
      </div>
    </div>
  </form>
</div>
{% endblock %}