{% extends "base.html" %}

{% block content %}

<form name="createGallery" action="/create/gallery" method="post">
    <table>
        <tr>
            <th><label for="name">Name:</label></th>
            <td><input type="text" name="name" id="name" /></td>
		</tr>
		<tr>
			<th><label for="webName">Web Name:</label></th>
			<td><input type="text" name="webName" id="webName"/><td>
		</tr>
		<tr>
            <th><label for="description">Description:</label></th>
            <td><textarea name="description" id="description"></textarea></td>
		</tr>
		<tr>
			<th><label for="parent">Parent Gallery:</label></th>
            <td><select name="parent" id="parent" />
					<option value="">--No Parent--</option>
					{% for gallery in galleries %}
						<option value="{{ gallery.id }}">{{ gallery.name }}</option>
					{% endfor %}
			</select></td>
		</tr>
    </table>
    <input type="submit" name="submit" value="Submit"/>
</form>

{% endblock %}
