{% extends "admin/change_list.html" %}
{% load change_list_extras %}

{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="/static/style/admin.css" />
{% endblock %}

{% block extrahead %} 
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.ui/ui/ui.core.js"></script>
	<script src="/static/js/jquery.ui/ui/ui.sortable.js"></script>
	<script src="/static/js/picture_admin.js"></script>
	<script> 
	$(document).ready(function() {
		dali.prettify_list("#picture_change_list li");
		$("#sortable_change_list").sortable({
		  opacity: 0.5,
		  update: dali.update_order 
		}); //End sortable
		$("#save_order").click(function() {
		  $.post('{% url save_order %}',
		    dali.order,
		    function(xml) {
		      $("#footer").text("Order saved!").hide().fadeIn(2000).fadeOut(2000);
		    }); //End post
		    return false;
		}); //End save_order click
	}); //End doc ready
	</script>    
{% endblock %}

{% block object-tools %}
{% if has_add_permission %}
	<ul class="object-tools">
		<li><a href="save_order/" class="addlink" id="save_order">Save Order</a></li>
		<li>
			<a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
				{% with cl.opts.verbose_name|escape as name %}Add {{ name }}{% endwith %}
			</a>
		</li>
	</ul>
{% endif %}
{% endblock %}


{% block result_list %}{% extra_result_list cl %}{% endblock %}
