{% extends "admin/change_list.html" %}

{% block extrahead %} 
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.tablednd.js"></script
	<script src="/static/js/picture_admin.js"></script>
	<script> 
	$(document).ready(function() {
    $("#changelist > table").tableDnD({
      onDrop: dali.update_order
    });
    
	  $("#save_order").click(function() {
	    dali.save_order('{% url save_picture_order %}');
	    return false;
    });
	});
	</script>    
{% endblock %}

{% block object-tools %}
{% if has_add_permission %}
	<ul class="object-tools">
		<li><a href="{% url save_picture_order %}" class="addlink" id="save_order">
		    Save Order
		</a></li>
		<li><a href="{% url add_pictures_from_zip %}" class="addlink" id="add_pictures_from_zip">
		  Add Multiple Pictures
		</a></li>
	  <li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
				{% with cl.opts.verbose_name|escape as name %}Add {{ name }}{% endwith %}
		</a></li>
	</ul>
{% endif %}
{% endblock %}

