body{
    color: #FFF;
    background: #181818 url('../background.png') repeat-y center;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

li {
    list-style-position: outside;
    list-style-type: none;
}

a, img {
    color: #FFF;
    outline: 0;
    border: 0;
}

a:hover {
    color: #4E6269;
}

p { 
    line-height: 1.5em; 
}

#header {
    font-size: 3.75em;
    font-weight: bold;
    margin: 20px 0 15px 0;
    text-align: center;
}

#header a {
    text-decoration: none;
    color: #FFF;
}

#nav {
    font-size: 1.7em;
    text-align: center;    
}

#nav a {
    letter-spacing: 1px;
    padding: 2px 12px;
    text-decoration: none;
}

#nav a#active, #nav a:hover {
    background-color: #202020;
    border: 1px solid #323232;
    color: #FFF;
    padding: 2px 11px;
}

.clear {
    clear: both;
}

.above_line {
    border-bottom: 1px solid;
    margin-bottom: auto;
    width: 800px;
}

.above_line a {
    text-decoration: none;
}

.below_line {
    text-align: right;
}

#icon_list {
    text-align: right;
    float: right;    
}

#footer {
    clear: both;
    padding-top: 30px;
    text-align: center;
} 

.content {
    margin-top: 10px;
}

/* Gallery styles */

.picture_list .first {
    margin-left: 0;
}

.picture_list img {
    margin: 0 0 11px 11px;
}

/* Blog and comment styles */
.comment {
    margin-bottom: 20px;
}

#comment_form {
    margin-top: 15px;
}

#comment_form form p {
    margin-bottom: 0;
    margin-top: 5px;
}

.tag_cloud a {
    text-decoration: none;
}

.tag_cloud a:hover {
    text-decoration: underline;
}

/* Home page */
#slider_container {
    height: 75px;
    width: 800px;
}

#slider {
    float: left;
    overflow: hidden;
    width: 750px;
}

#sliding_images {
    margin: 0;
    position: relative;
    width: 1500px;
}

#slide_right {
    float: right;
    margin: 0;
    position: relative;
}

.sliding_image, #slide_left {
    float: left;
    margin: 0;
    position: relative;
}

.success, .warning, .error, .info {
    height: 16px;
    left: 0;
    overflow: hidden;
    overflow-y: auto; 
    padding: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 200;
}

/* Status msgs */
.success { background: #DFF2BF; color: #4F8A10; border: solid 1px #4F8A10; }
.warning { background: #DBCE9A; color: #9F6000; border: solid 1px #9F6000; }
.error   { background: #FFBABA; color: #D8000C; border: solid 1px #D8000C; }
.info    { background: #BDE5F8; color: #00529B; border: solid 1px #00529B; }