<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen, projection"/>
  {% block extrahead %}{% endblock %}
  <title>{% block title %}Jes Lee Photos{% endblock %}</title>
</head>

<body>
  <h1 id="header"><a href="/">Jes Lee</a></h1>
  <div id="nav">
    <span>
      <a {% block gallery-nav %}{% endblock %} href="{% url gallery_list %}">Galleries</a>
      <a href="http://www.shadesofsilver.me">Blog</a>
      <a {% block about-nav %}{% endblock %} href="/about/">About Me</a>
      <a href="http://jesleephotos.bigcartel.com">Shop</a>
    </span>
  </div>
  <div id="main">{% block content %}{% endblock %}</div>
  <div id="footer">
  {% block footer %}
    <p>Want to follow me on <a href="http://twitter.com/moonsweetie">Twitter</a>?<br />
    Copyright of Jes Lee Photos 2011
	</p>
  {% endblock %}
  </div>

  {% include "jquery.html" %}
  {% if not debug %} 
  <script src="http://mint.jesleephotos.com/?js" type="text/javascript"></script>
  {% endif %}
  {% block javascripts %}{% endblock %}
  
  <script type="text/javascript">
    $(document).ready(function(){ {% block docReadyJS %} {% endblock %}});
  </script>
  
</body>
</html>
