<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Jes Lee Photos{% endblock %}</title>
    <meta name="description" content="Artwork by Jes Lee">
    <meta name="author" content="Jes Lee">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/screen.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script type="text/javascript" src="http://use.typekit.com/cfe6inb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% block extrahead %}{% endblock %}
</head>


<body>
    <div class="container">
    <h1 id="header"><a href="/" class="museo">Jes Lee</a> </h1>

    <div id="main" class="row">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        {% block footer %}
        <div class="row">
            <a href="http://www.facebook.com/jesleephotos" class="offset1 span1">
                <img alt="Facebook" src="/static/icons/social/facebook_icon.jpg" title="Facebook" />
            </a>
            <a href="http://twitter.com/moonsweetie" class="span1">
                <img alt="Twitter" src="/static/icons/social/twitter_icon.jpg" title="Twitter" />
            </a>
            <a href="http://www.flickr.com/photos/jesleephotos" class="span1">
                <img alt="Flickr" src="/static/icons/social/flickr_icon.jpg" title="Flickr" />
            </a>
            <a href="http://www.shadesofsilver.me/" class="span1">
                <img alt="Blog" src="/static/icons/social/posterous_icon.jpg" title="Blog" />
            </a>
            <a href="http://www.jesleephotos.com/contact" class="span1">
                <img alt="Contact me" src="/static/icons/social/email_icon.jpg" title="Contact me" />
            </a>
            <a href="http://vimeo.com/jesleephotos/" class="span1">
                <img alt="Vimeo" src="/static/icons/social/vimeo_icon.jpg" title="Vimeo" />
            </a>
            <a href="http://www.youtube.com/user/moonosaurus?feature=mhee" class="span1">
                <img alt="YouTube" src="/static/icons/social/you_tube_icon.jpg" title="YouTube" />
            </a>
            <a href="https://plus.google.com/u/0/106974068560084139449/posts" class="span1">
                <img alt="Google+" src="/static/icons/social/google_plus_icon.jpg" title="Google +" />
            </a>
            <a href="http://www.mnartists.org/artistHome.do?rid=50066" class="span1">
                <img alt="Mnartists.org" src="/static/icons/social/mn_artists_org_icon.jpg" title="Mnartists.org"/>
            </a>
        </div>
        <p>Copyright of Jes Lee Photos 2011</p>
        {% endblock %}
    </footer>
</div>

  {% include "jquery.html" %}
  {% if not debug %} 
  <script src="http://mint.jesleephotos.com/?js" type="text/javascript"></script>
  {% endif %}
  {% block javascripts %}{% endblock %}
  
  <script type="text/javascript">
    $(document).ready(function(){ {% block docReadyJS %} {% endblock %}});
  </script>
  
</body>
</html>
