{% extends "base.html" %}
{% load gallery_utils %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/dali.js"></script>
{% endblock %}

{% block docReadyJS %}
$('#slide_right').click(function() {
  dali.slide_right('#sliding_images')
});

$('#slide_left').click(function() {
  dali.slide_left('#sliding_images');
});
{% endblock %}

{% block content %}
<div>
  <h1 class="above_line" class="museo">Recent artwork</h1>
  <div class="content picture-list">
	{% get_latest_pictures as pictures limit 10 %}
	{% for picture in pictures %}
	  <a href="{{ picture.gallery.get_absolute_url }}"><img src="{{ picture.thumbnail.url }}" alt="{{ picture.name }}"/></a>
	{% endfor %}
  </div>
</div>
{% endblock %}
