{% extends "base.html" %}
{% load gallery_utils %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/dali.js"></script>
{% endblock %}

{% block docReadyJS %}
$('#slide_right').click(function() {
  dali.slide_right('#sliding_images')
});

$('#slide_left').click(function() {
  dali.slide_left('#sliding_images');
});
{% endblock %}

{% block content %}
    <ul class="thumbnails">
        <li class="span4">
            <a href="#" class="span2 offset1">
                <img src="/static/images/photos.png" alt="">
            </a>
        </li>
        <li class="span4">
            <a href="#" class="span2 offset1">
                <img src="/static/images/photos.png" alt="">
            </a>
        </li>
        <li class="span4">
            <a href="#" class="span2 offset1">
                <img src="/static/images/photos.png" alt="">
            </a>
        </li>
        <li class="span4">
            <a href="#" class="span2 offset1">
                <img src="/static/images/photos.png" alt="">
            </a>
        </li>
        <li class="span4">
            <a href="#" class="span2 offset1">
                <img src="/static/images/photos.png" alt="">
            </a>
        </li>
        <li class="span4">
            <a href="#" class="span2 offset1">
                <img src="/static/images/photos.png" alt="">
            </a>
        </li>
        <li class="span4">
            <a href="#" class="span2 offset1">
                <img src="/static/images/photos.png" alt="">
            </a>
        </li>
        <li class="span4">
            <a href="#" class="span2 offset1">
                <img src="/static/images/photos.png" alt="">
            </a>
        </li>
        <li class="span4">
            <a href="#" class="span2 offset1">
                <img src="/static/images/photos.png" alt="">
            </a>
        </li>

    </ul>
{% endblock %}
