{% extends "base.html" %}

{% block content %}

<div>
	<h2>Galleries!</h2>
</div>
<div id="gallery_list">
	<ul>
		{% for gallery in object_list %}								
		<li> 
			<div id="gallery_item">
				{% with gallery.getRandomImage as image %}
					{% if image %}
					<a href="/gallery/{{ gallery.webName }}">
						<img src="{{ image.get_thumbnail_url }}" />
					</a>
					{% endif %}
				{% endwith %} 
				<a href="/gallery/{{ gallery.webName }}">{{ gallery.name }}</a>
				{{ gallery.getImageCount }} Images
				{{ gallery.description }}
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
