{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/fancybox/fancy.css" type="text/css" media="screen" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.0.0.js"></script>
{% endblock %}


{% block docReadyJS %}
	$("div#imageList a").fancybox({
        'overlayShow': true,
        'overlayOpacity': 0.5
    });
{% endblock %}


{% block content %}

<div>
	<span>{{ gallery.name }}</span><br/>
	<span>{{ gallery.webName }}</span><br/>
	<span>{{ gallery.description }} </span><br/>

	{% if gallery.parentGallery %}
		<span>The parent gallery is
		 	<a href="/gallery/{{ gallery.parentGallery.webName }}">
		 		{{ gallery.parentGallery.name }}
		 	</a>
		</span>
	{% endif %}
</div>

<div id="imageList">
   {% for image in images %}
		<a href="{{ image.viewable.getUrl }}" title="{{ image.description }}" rel="group">
   		   <img src="{{ image.thumbnail.getUrl }}" alt="{{ image.description }}" name="{{ image.name }}" />
        </a>
	{% endfor %}
</div>
<div>
	<a href="/gallery">Return to the gallery list.</a>
</div>
{% endblock %}
