{% extends "blog/base_blog.html" %}
{% load comments %}
{% load tagging_tags %}
{% load blog_utils %}
{% load disqus_tags %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}
{% block extrahead %}{% disqus_dev %} {{ block.super }}{% endblock %}

{% block javascripts %}
{% if user.is_authenticated %}
<script type="text/javascript" src="/static/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/static/js/ckeditor_init.js"></script>
<script type="text/javascript" src="/static/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/static/js/jquery.jeditable.ckeditor.js"></script>
<script type="text/javascript" src="/static/js/dali.js"></script>
{% endif %}
{% endblock %}

{% block docReadyJS %}
$("#id_comment").attr("cols", 80); //don't want to hack comments:(

{% if user.is_authenticated %}
$('#save').click(function () {
   dali.save_post('{% url blog_update_post post.slug %}');
});

$('#publish').click(function(event) {
  dali.toggle_publish(event);
});

$('.edit_area').editable(dali.update_post, {
      type : 'ckeditor',
      onblur : 'ignore',
      submit : 'OK',
      cancel : 'Cancel',
      tooltip : 'Click to edit',
      id : 'body',
});

$('.edit').editable(dali.update_post, {
      indicator : 'Saving...',
      tooltip   : 'Click to edit',
      submit : 'OK',
      cancel : 'Cancel',
      id : 'title',
});

{% endif %}
{% endblock %}

{% block content %}

<div class="post">
  <h1 class="above_line"><span class="edit">{{ post.title }}</span>
    {% if user.is_authenticated %}
    <span id="icon_list">
      {% if post.published %}
        <img src="/static/icons/accept.png" id="publish" alt="Published" title="Published"/>
      {% else %}  
        <img src="/static/icons/exclamation.png" id="publish" alt="Not published" title="Not published"/>
      {% endif %}
      <img src="/static/icons/disk.png" id="save" alt="Save:)" title="Save:)"/>
    </span>
    {% endif %}
  </h1>
     
  <div class="time below_line">
    {{ post.date_published|format_date }}
  </div>
  <div class="content {% if user.is_authenticated %}edit_area{% endif %}">{{ post.body|safe }}</div>
</div>

{% tags_for_object post as tags %}
{% if tags %}
  <div class="content">
    <h2 class="above_line">Tags</h2>
    <div class="below_line">
      {% for tag in tags %}
        <a href="{% url blog_tag_detail tag %}">{{ tag|pretty_tag }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}

<div class="above_line">
  {% with post.previous as prev %}
  {% if prev %}<a href="{{ prev.get_absolute_url }}">« Previous post - {{ prev.title }}</a>{% endif %}
  {% endwith %}
</div>
<div class="below_line">
  {% with post.next as next %}
  {% if next %}<a href="{{ next.get_absolute_url }}">Next post - {{ next.title }} »</a>{% endif %}
  {% endwith %}
</div>

{% disqus_show_comments %}

{% endblock %}
