body { padding-top: 50px;}
#header { font-size: 4.5em; font-weight: normal; margin-bottom: 1em; text-align: center; }
#header a { text-decoration: none;}
footer {margin-top: 75px; text-align: center;}
#picture-detail {text-align: center;}
#picture-detail > div {margin-bottom: 25px;}