{% extends "admin/change_list.html" %}
{% load gallery_utils %}

{% block extrahead %}
  {{ block.super }}
  {% register_reorder 'gallery.update_picture_order' %}
{% endblock %}

{% block object-tools %}
{% if has_add_permission %}
	<ul class="object-tools">
		<li><a href="{% url add_pictures_from_zip %}" class="addlink" id="add_pictures_from_zip">
		  Add Multiple Pictures
		</a></li>
	  <li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
				{% with cl.opts.verbose_name|escape as name %}Add {{ name }}{% endwith %}
		</a></li>
	</ul>
{% endif %}
{% endblock %}

