<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Choose Picture - Jes Lee Photos</title>
</head>

<body style="overflow: auto;">
  <fieldset>
    <legend>Select Gallery</legend>
    <select id="gallery">
      <option value="">Please choose a gallery</option>
      {% for gallery in galleries %}
      <option value="{% url gallery_choose_picture gallery.slug %}">{{ gallery.name }}</option>
      {% endfor %}
    </select>
  </fieldset>
  <div id="pictures"></div>
  {% include "jquery.html" %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#gallery').change(function() {
        var url = $('#gallery').val();
        if(url !== '') {
          $('#pictures').load(url);
        }
      });
      $('#pictures img').live('click', function(e) {
        opener.CKEDITOR.tools.callFunction(1, this.id);
        window.close();
      });
    });
  </script>
</body>
</html>



