{% extends "gallery/base_gallery.html" %}

{% block stylesheets %} 
<link rel="stylesheet" type="text/css" href="/static/css/slimbox2.css"/>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="/static/js/slimbox2.js"></script>
{% endblock %}

{% block content %}
  <div>
  	<span>{{ gallery.name }}</span><br/>
  	<span>{{ gallery.description }} </span><br/>

  	{% if gallery.parentGallery %}
  		<span>The parent gallery is
  		 	<a href="{{ gallery.parentGallery.get_absolute_url }}">
  		 		{{ gallery.parentGallery.name }}
  		 	</a>
  		</span>
  	{% endif %}
  </div>

  <div id="picture_list">
  {% for picture in pictures %}
    <a rel="lightbox-gallery" href="{{ picture.viewable.url }}" 
    {% if picture.description %} title="{{ picture.description|escape }}" {% endif %}>
     	<img src="{{ picture.thumbnail.url }}" name="{{ picture.name }}"
     	{% if picture.description %} alt="{{ picture.description|escape }}" {% endif %}/>
    </a>
  {% endfor %}
  </div>
  <div>
    <a href="{% url gallery_list %}">Return to the gallery list.</a>
  </div>
{% endblock %}
