{% extends "blog/base_blog.html" %}
{% load blog_utils %}

{% block title %}Recent posts | {{ block.super }}{% endblock %}

{% block content %}
  {% if latest %}
    {% for post in latest %}
    <div class="post">
      <div class="title">
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </div>
      
      <div class="time">
        <strong>{{ post.date_published|date:"M j, Y" }}</strong>
        {{ post.date_published|time:"f A" }}
      </div>
      <div class="preview">
        {% image_preview post 5 %}
      </div>
    </div>
    {% endfor %}
  {% else %}
    <p>No recent posts.</p>
  {% endif %}
{% endblock %}