{% extends "blog/base_blog.html" %}
{% load comments %}
{% load tagging_tags %}
{% load blog_utils %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block javascripts %}
{% if user.is_authenticated %}
<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce_src.js"></script>
<script type="text/javascript" src="/static/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/static/js/jquery.jeditable.tinymce.js"></script>
<script type="text/javascript" src="/static/js/dali.js"></script>
{% endif %}
{% endblock %}

{% block docReadyJS %}
$("#id_comment").attr("cols", 80); //don't want to hack comments:(

{% if user.is_authenticated %}
$('#save').click(function () {
   dali.save_post('{% url blog_update_post post.slug %}');
});

$('.edit_area').editable(dali.update_post, {
      type : 'mce',
      onblur : 'ignore',
      submit : 'OK',
      cancel : 'Cancel',
      tooltip : 'Click to edit...',
      id : 'body',
});

$('.edit').editable(dali.update_post, {
      indicator : 'Saving...',
      tooltip   : 'Click to edit...',
      submit : 'OK',
      cancel : 'Cancel',
      id : 'title',
});

$('#published')

{% endif %}

{% endblock %}

{% block content %}

<div class="post">
  <h1 class="title above_line {% if user.is_authenticated %}edit{% endif %}">
    {{ post.title }}
  </h1>
     
  <div class="time below_line">
    <strong>{{ post.date_published|date:"M j, Y" }}</strong>{{ post.date_published|time:"f A" }}
    {% if user.is_authenticated %}
    <span id="icon_list">
      {% if post.published %}
        <img src="/static/icons/accept.png" id="publish" alt="Not published" title="Not published"/>
      {% else %}  
        <img src="/static/icons/exclamation.png" id="publish" alt="Not published" title="Not published"/>
      {% endif %}
      <img src="/static/icons/page_save.png" id="save" alt="Save:)" title="Save:)"/>
    </span>
    {% endif %} 
  </div>
  <div class="content {% if user.is_authenticated %}edit_area{% endif %}">{{ post.body|safe }}</div>
</div>

{% tags_for_object post as tags %}
{% if tags %}
  <div class="tags">
    <div class="subtitle above_line">Tags</div>
    <div class="below_line">
      {% for tag in tags %}
        <a href="{% url blog_tag_detail tag %}">{{ tag|pretty_tag }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% get_comment_list for post as comment_list %}
<div id="comment_list">
    {% for comment in comment_list %}
      <div class="comment">
        <div class="subtitle above_line">{{ comment.user_name }}</div>
        <div class="time below_line">
          <strong>{{ comment.submit_date|date:"M j, Y" }}</strong>
          {{ comment.submit_date|time:"f A" }}
        </div>
        <div class="comment_body">
          {{ comment.comment }}
        </div>
      </div>
    {% endfor %}
</div>
<div id="comment_form">
    <div class="subtitle above_line">Post a comment...</div>
    {% render_comment_form for post %}
</div>
{% endblock %}
