body{
    margin: 0;
    padding: 0;
    font-family: futura, helvetica, sans-serif;
	font-size: 12px;
    color: #FFFFFF;
    background-color: #191919;
}

a {
    outline: 0px;
}

p {
    font-size: 13px;
    padding: 0px;
}

li {
	list-style-type: none;
	list-style-position: outside;
}

img {
    border: 0px;
}

#all {
    text-align: left;
    margin: 0 auto;
    width: 800px;
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 800px;
    height: 50px;
}

#title {
    margin: 10px 10px 10px 15px;
}

#subtitle {
    margin: 1px 0 5px 0 ;
    font-size: 12px;
    text-align: right;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    text-transform: capitalize
}

#body {
    float: left;
    margin: 10px 0 10px 0;
    text-align: left;
}

#gallery_list li {
    padding: 10px;    
}


#picture_list {
    padding-top: 25px;
    padding-bottom: 25px;
}

#picture_list img {
    margin-right: 25px;
}

#body p {
    padding: 0 0 10px 35px;
    font-size: 14px;
}

#body p.caption {
    padding: 0 0 10px 15px;
    font-size: large;
}
	
#body strong {
    line-height: 16px;
}


#hr {
    margin: 7px 10px 7px 5px; 
    border-top: 1px solid #cc6600;
}

#footer {
    width: 800px;
    margin: 10px 0 0 0 ;
    text-align: center;
    font-size: 9px;
    font-weight: normal; 
    clear:both;
    padding: 10px 0;
    border-top: 1px solid #cc6600;
} 
