body{
    color: #FFF;
    background-color: #181818;
    font-family: Gill Sans, Optima, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

li {
    list-style-position: outside;
    list-style-type: none;
}

a, img {
    color: #4E6269;
    outline: 0;
    border: 0;
}

#header {
    font-size: 4em;
    font-weight: bold;
    margin: 20px 0 15px 0;
    text-align: center;
}

#nav {
    font-size: 1.75em;
    text-align: center;    
}

#nav a {
    color: #FFF;
    letter-spacing: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 13px;
    padding-right: 13px;
    text-decoration: none;
}

#nav a#active, #nav a:hover {
    background-color: #202020;
    border: 1px solid #323232;
    padding-left: 12px;
    padding-right: 12px;
}

#body {
    float: left;
    margin: 25px 0 10px 0;
    text-align: left;
}

.clear {
    clear: both;
}

.title {
    font-size: 2.5em;
    margin-bottom: 30px;  
}

.title a {
    color: #FFF;
    text-decoration: none;
}

#footer {
    border-top: 1px solid #C60;
    clear:both;
    font-size: 9px;
    font-weight: normal; 
    margin: 10px 0 0 0 ;
    padding: 10px 0;
    text-align: center;
    width: 800px;
} 

/* Gallery styles */
#picture_list {
    padding-bottom: 25px;
    padding-top: 25px;
}

#picture_list img {
    margin-right: 25px;
}

.gallery {
    margin-bottom: 15px;
}

.gallery:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    
}

.gallery .thumbnail {
    float: left;
    margin-right: 10px;
}

.gallery .meta {
    float: left;
    font-size: 1.2em;
    line-height: 1.25em;
}

/* Blog styles */

.post .title {
    font-weight: bold;
    border-bottom: 1px solid;
    margin-bottom: auto;
    width: 800px;
}

.post .time {
    color: #F1F3F5;
    text-align: right;
}

.post .tags {
    text-align: right;
    font-size: 1.2em;
}

.tag_cloud a {
    color: #FFF;
    text-decoration: none;
}

.tag_cloud a:hover {
    color: #4E6269;
    text-decoration: underline;
}
