<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link rel="stylesheet" type="text/css" href="/static/style/main.css"/>
<link rel="stylesheet" href="/static/js/jquery.ui/themes/flora/flora.all.css" type="text/css" media="screen" title="Flora (Default)"/>
{% block stylesheets %} {% endblock %}

<script type="text/javascript" src="/static/js/jquery.ui/jquery-1.2.4b.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui/ui.core.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui/ui.tabs.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui/ui.sortable.js"></script>
{% block javascripts %} {% endblock %}

<title>Jes Lee Photos</title>

<script>
$(document).ready(function(){
	{% block docReadyJS %} {% endblock %}
 });
 </script>

</head>

<body>
<div id="all">
    <div id="header">
		<div id="title">
			Jes Lee Photos
		</div>
    </div>
	<div id="nav">
		<span>
			<a href="/">Home</a> |
			<a href="/gallery">Galleries</a> |
			<a href="#">Contact Me</a> |
			<a href="#">About Me</a> |
			<a href="#">Links</a>
		</span>
	</div>
	<div id="body">
		{% block content %}
			Tab not implemented!
		{% endblock %}
	</div>
</div>
</body>
</html>
