body{
    color: #000000;
    background: #e1e1e1 url('http://purplerobots.s3.amazonaws.com/background2.jpg') repeat-y center;
    font-family:  "Optima", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

a, img { border: 0; color: #C6CDCA; outline: 0; }
a:hover { color: #BB7FED; }
li { list-style-position: outside; list-style-type: none; }
p { line-height: 1.5em; }

#header { font-size: 3.5em; font-weight: normal; margin-bottom: 1em; text-align: center; }
#header a { text-decoration: none; color: #C6CDCA; }
#nav { font-size: 1.25em; margin-bottom: 2em; text-align: center; }
#nav a { letter-spacing: 1px; padding: 2px 20px; text-decoration: none; }

.clear { clear: both; }
h1.above_line { font-size: 1.9em; }
.above_line { border-bottom: 1px solid; font-weight: normal; margin-bottom: auto; width: 800px; }
.above_line a { text-decoration: none; }
.below_line { text-align: right; }

#footer { clear: both; padding-top: 145px; padding-bottom: 10px; text-align: center; }
#badges a { margin-left: 15px; }
.content { margin: 10px 0 35px; }

/* Gallery styles */
img#detail { display: block; margin-left: auto; margin-right: auto;}
.picture_list .first { margin-left: 0;}
.picture_list img { margin: 0 0 11px 11px; }

/* Home page */
#slider_container { margin-left: -12px; height: 75px; width: 825px; }
#slider { float: left; overflow: hidden; width: 765px; }
#sliding_images { margin: 0; position: relative; width: 1700px; }
.sliding_image { position: relative; float: left; margin: 0 5px; }
#slide_right, #slide_left { margin: 0; position: relative; width: 25px; }
#slide_right { float: right; margin-left: 5px; }
#slide_left { float: left; margin-right: 5px; }

.success, .warning, .error, .info {
    height: 16px;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
    overflow: hidden;
    overflow-y: auto; 
    position: fixed;
    text-align: center;
    z-index: 200;
}

/* Status msgs */
.success { background: #DFF2BF; color: #4F8A10; border: solid 1px #4F8A10; }
.warning { background: #DBCE9A; color: #9F6000; border: solid 1px #9F6000; }
.error   { background: #FFBABA; color: #D8000C; border: solid 1px #D8000C; }
.info    { background: #BDE5F8; color: #00529B; border: solid 1px #00529B; }
