<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="style/music.css"/>
<script src="js/prototype.js" type="text/javascript"></script>
<script src="js/scriptaculous.js" type="text/javascript"></script>

<script type="text/javascript">
// <![CDATA[


function add_song(text)
{
	list_item = document.createElement("li");
	list_item.appendChild(document.createTextNode(text));
	document.getElementById("playlist").appendChild(list_item);
	Sortable.create("playlist",	{dropOnEmpty:true,containment:["playlist"]});
	Sound.play(text, {replace:true});
}

function notify(text)
{
	document.getElementById("footer").innerHTML = "<p>" + text + "</p>";
}

function createDraggable(element)
{
	new Draggable(element, {revert: true, ghosting: true});
}

// ]]>
</script>

<title>Mood Music</title>
</head>

<body>
<div id="all">
    <div id="header">
	<div id="title">
		Mood Music
	</div>
    </div>
    <div id="subtitle">Mood Music</div>
    <div id="playlist_drop">
		<ul id="playlist">
			<li></li>
		</ul>
	</div>

	<div id="body">
		<ul class="script_songlist">
		{% for song in object_list %}			
			<li class="script_songlist" id="script_songlist_{{ forloop.counter }}">
				{{ song.get_filename_url }}
			</li>
		{% endfor %}	
		</ul>
	</div>
        <div id="footer">
      	</div>
</div>

<script type="text/javascript">
// <![CDATA[
	
	{% for song in object_list %}
		createDraggable("script_songlist_{{ forloop.counter }}");
	{% endfor %}
	
	Droppables.add("playlist_drop", {
		accept: "script_songlist",
		onDrop: function(element, dropon, event)
		{ 
			add_song(element.innerHTML) 
		}
	});
	
	
	Sortable.create("playlist",
     	{dropOnEmpty:true,containment:["playlist"]});
// ]]>
 </script>


</body>


</html>