{% load comments %}
<form action="{% comment_form_target %}" method="POST" id="comment_form">
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {% if field.errors %}{{ field.errors }}{% endif %}
        {{ field }} {% ifnotequal field.name "comment" %}{{ field.label_tag }}{% endifnotequal %}
      </p>
    {% endif %}
  {% endfor %}
  <input id="id_next" type="hidden" name="next" value="{{ post.get_absolute_url }}">
  <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="Post" />
  </p>
</form>