{% extends "flatpages/default.html" %}

{% load blog_utils %}
{% load gallery_utils %}

{% block home-nav %}active{% endblock %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block docReadyJS %}
var slideIncrement = 150;
var slideCounter = 0
var sliderWidth = $('#slider').width();
var center = sliderWidth/2;

function func(e) {
   var mouse = e.pageX - this.offsetLeft;
   if(mouse < center) {
      slideCounter += (center - mouse)/center * slideIncrement;
   } else {
       slideCounter -= (mouse - center)/center * slideIncrement;
   }
   $('#sliding_images').animate({left: slideCounter}, 1000);
}

$('#slider').mouseover(func);



{% endblock %}


{% block content %}
<div class="section">
   <h1>Announcements:</h1>
   <div>{{ flatpage.content }}</div>
</div>

<div class="section">
   <h1>Recent Updates:</h1>
   <div>
      <h4>Images:</h4>
      <div id="slider">
         <div id="sliding_images">
            {% get_latest_pictures 20 as pictures %}
            {% for picture in pictures %}
               <div class="sliding_image">
                  <a href="{{ picture.gallery.get_absolute_url }}" class="slide">
                     <img src="{{ picture.thumbnail.url }}" alt="{{ picture.name }}"/>
                  </a>
               </div>
            {% endfor %}
         </div>
      </div>
      <h4>Blog:</h4>
      <div>
         {% get_latest_post as post %}
         <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </div>
   </div>
</div>

{% endblock %}