{% extends "flatpages/default.html" %}

{% load blog_utils %}
{% load gallery_utils %}

{% block home-nav %}active{% endblock %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block docReadyJS %}
var slideIncrement = 150;
var slideCounter = 0
var sliderWidth = $('#slider').width();
var center = sliderWidth/2;

function func(e) {
   var mouse = e.pageX - this.offsetLeft;
   if(mouse < center) {
      slideCounter += (center - mouse)/center * slideIncrement;
   } else {
       slideCounter -= (mouse - center)/center * slideIncrement;
   }
   $('#sliding_images').animate({left: slideCounter}, 1000);
}

$('#slider').mouseover(func);



{% endblock %}


{% block content %}
<div class="section">
   <h1 class="above_line">Announcements</h1>
   <div>{{ flatpage.content }}</div>
</div>

<h1 class="above_line">Recent Pictures</h1>
<div class="below_line">&nbsp;</div>
<div id="slider">
   <div id="sliding_images">
      {% get_latest_pictures 20 as pictures %}
      {% for picture in pictures %}
         <div class="sliding_image">
            <a href="{{ picture.gallery.get_absolute_url }}">
               <img src="{{ picture.thumbnail.url }}" alt="{{ picture.name }}"/>
            </a>
         </div>
      {% endfor %}
   </div>
</div>

{% get_latest_post as post %}
<div class="post">
   <h1 class="title above_line">
      <a href="{{ post.get_absolute_url }}">Latest Post - {{ post.title }}</a>
   </h1>

   <div class="below_line">
     <strong>{{ post.date_published|date:"M j, Y" }}</strong>
     {{ post.date_published|time:"f A" }}
   </div>
   <div class="preview">
     {% image_preview post 5 %}
   </div>
</div>


{% endblock %}