{% extends "gallery/base_gallery.html" %}
{% load gallery_utils %}
{% load thumbnail %}

{% block title %} Galleries | {{ block.super }}{% endblock %}

{% block content %}
    {% for gallery in gallery_list %}
        <div class="gallery">
            <h1 class="span12"><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></h1>
            <div class="span12">{{ gallery.description }} - {{ gallery.picture_count }} Pictures</div>
            {% get_random_pictures from gallery as pictures limit 5 %}
            {% for picture in pictures %}
                <img class="span2" src="{% thumbnail picture.original 170x170 crop %}" />
            {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
