{% extends "gallery/base_gallery.html" %}
{% load gallery_utils %}
{% load thumbnail %}

{% block title %}{% if gallery %}{{ gallery.name }} | {% endif %}{{ block.super }}{% endblock %}

{% block extrahead %} 
<link rel="stylesheet" type="text/css" href="/static/css/slimbox2.css"/>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/slimbox2.js"></script>
{% endblock %}

{% block content %}
{% if gallery %}
    <div class="row">
        <h1 class="span12"><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></h1>
        <div class="span12">{{ gallery.description|safe}}</div>
    </div>

    <div class="row">
    {% for picture in pictures %}
        <a rel="lightbox-gallery" href="{% thumbnail picture.original 700x0 %}" class="span2">
            <img src="{% thumbnail picture.original 170x170 crop %}" title="{{ picture.name }}" alt="{{ picture|caption }}"/>
        </a>
    {% endfor %}
    </div>
{% endif %}

    {% for gallery in gallery_list %}
        <div class="row">
            <h1 class="span12"><a href="{{ gallery.get_absolute_url }}">{{ gallery.name }}</a></h1>
            <div class="span12">{{ gallery.description|safe }}</div>
        </div>
        <div class="row">
            {% get_random_pictures from gallery as pictures limit 5 %}
            <a href="{{ gallery.get_absolute_url }}">
            {% for picture in pictures %}
                <img class="span2" src="{% thumbnail picture.original 170x170 crop %}" />
            {% endfor %}
            </a>
        </div>
    {% endfor %}

{% endblock %}
