{% extends "gallery/base_gallery.html" %}
{% load thumbnail %}

{% block content %}
    <div id="picture-detail">
        <div class="row">
            <h1 class="span12">{{ picture.name }}</h1>
        </div>

        <div class="row">
            <img src="{% thumbnail picture.original 700x0 %}" alt="{{ picture.name }}"/>
            <p>{{ picture.description|default:""|safe }}</p>
        </div>
        <div class="row">
          <a href="{{ picture.gallery.get_absolute_url }}">Return to {{ picture.gallery.name}}.</a>
        </div>
    </div>
{% endblock %}
